---
layout: layout
---

{% assign __ = site.data.languages[site.language] %}
{% include post.html %}

<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    id: '{{ page.date }}',	
    owner: 'beitengda',
    repo: 'beitengda.github.io',
    oauth: {
        client_id: '9c536c558af794906585',
        client_secret: '4baaa822e45d8b54eb46391a93e5f7365dc1d00e',
    },
});
gitment.render('gitmentContainer');
</script>


